<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AI Demo Suite" verbose="0" parallel="tests">
  <test name="Test" enabled="true">
    <classes>
      <class name="TabcorpAIScenarios"/>
    </classes>
  </test> <!-- Test -->

  <test name="Test" enabled="false">
    <classes>
      <class name="TabcorpAIScenarios"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

